.for_title{
    font:{
        size: 10rem;
        weight: 800;
    }

    .crimson{
        color:crimson;
    }
    .for_small{
        padding-left: 1rem;
        border-left: solid 2px black;
        font:{
            size:0.7rem;
            weight:600;

        }
    }
}