:root{
    --color_input:crimson; 
}
body{
    // background-color: var(--color_input);
    // background-image: url('../../assets/images/pexels-liza-summer-6347974.png');
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
}
.formulaire_container{
    width: 100%;
    height:auto;
    background-color: white;
    box-shadow: 0.05rem 0.05rem 0.7rem 0px #00000048;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.formulaire_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.input_cmd{
    width: 100%;
    margin-bottom: 1rem;
    height: 50px;
    padding: 1rem;
    font-size: 0.8rem;
    border: solid 1px rgb(226, 226, 226) ;
    border-radius: 0.5rem;
    


   
    
    &::placeholder{
        transition: all 1s;
        font-size: 0.75rem;
        position: absolute;
        color: gray;
        font-weight: 600;
        
    }

}
.divider_cmd{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    .line_cmd{
        width:45%;
        height: 0.5px;
        background-color: rgba(128, 128, 128, 0.349);
    }
    
}

.btn_cmd{
    width: 100%;
    padding:0.5rem;
    border: none;
    outline: none;
    text-align: center;

}
.reset{
  
  
    font-variant: small-caps;
    background-color: crimson;
    color: #ffffff;
  
}
.payer{
   
    color:#ffffff;
    background-color: dodgerblue;
    font-weight: 600;

}
