
:root {
    --background_panier_info: dodgerblue;
}

.panier_info {
    width: 100%;
    height: calc(100% - 10px);
    box-shadow: 0.05rem 0.05rem 0.7rem 0px rgba(0, 0, 0, 0.281);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: white;
   
    .panier_info_tile{
        font-size: 1rem;
        font-weight: 800;
        color: black;
        
       
    }



    .button_pay{
         width: 100%;
         padding: 1rem;
         
         background-color: dodgerblue;
         text-align: center;
         color: white;
         border-radius: 0.3rem;
      
         margin-top: 2rem;
         cursor: pointer;
        
    }
    
}

.products_panier_container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 0.5rem;
    grid-template-rows: auto;

    @media screen and (max-width:700px) {
        grid-template-columns: repeat(1, 100%);

    }



    .product_panier {

        .del-btn{
            width: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            border-radius: 5rem;
            padding: 0.5rem;
            text-align: center;
            font-size: 1rem;
            font-weight: 800;
            color:white;
            background-color: gray;
            margin-left: 0.2rem;
            cursor: pointer;
            box-shadow: 0.05rem 0.05rem 0.7rem 0px #00000048;
        }
        // transform: skewX(4deg);
        
        border-radius: 1rem;
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;
        // background-color: white;
        box-shadow: 0.05rem 0.05rem 0.7rem 0px rgba(0, 0, 0, 0.281);

        @media screen and (max-width:700px) {
             margin-bottom: 1rem;
        }
        

        .product_panier_img_card {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            width: 100px;
            height: 100px;
            overflow: hidden;

          
            .product_panier_img {
                transition: all 1s;
                width: 100%;
                height: 100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("../../../admin/product/laptop/6398119_sd.jpg");

                &:hover {
                    transition: all 1s;
                    transform: scale(1.2);
                }
            }




        }


        .product_panier_info {
            
            padding-left: 0.5rem;
            padding-top: 0.5rem;

            

            .product_panier_name {
                font: {
                    weight: 700;
                }
            }

            .product_panier_price {
                font-size: 0.9rem;
                font-weight: 600;
                color:crimson;
            }

            .product_panier_add{
                
                
                background-color: crimson;
                border-radius: 2rem;
                padding: 0.5rem;
                cursor: pointer;
                width: 50px;
                height: 50px;
                transform: translateY(50%);
               
                
               
      
            }
        }



        // .product_add_container{
        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        //     width: 50px;
        //     height: 100%;
            
            
            
            

        //     .product_panier_add{
                
                
        //         background-color: crimson;
        //         border-radius: 2rem;
        //         padding: 0.5rem;
        //         cursor: pointer;
        //         width: 50px;
        //         height: 50px;
               
                
               
      
        //     }
        // }

        


    }

}
