.header {
  width: 100%;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: black;
}

.header .header-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  color: white;
}

.header .header-text {
  text-align: center;
  font-size: 0.9rem;
  color: white;
}

.header .first-svg, .header .two-svg, .header .three-svg {
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: contrast(1.2);
          filter: contrast(1.2);
}

.header .first-svg {
  background-image: url("../../svg or png/Security/Security.svg");
}

.header .two-svg {
  background-image: url("../../svg or png/Welcome/Welcome.svg");
}

.header .three-svg {
  background-image: url("../../svg or png/Setting/Setting.svg");
}

.title {
  font-weight: 700;
  font-variant: small-caps;
}

.card-custom {
  padding: 2rem;
}

.form-custom {
  padding: 1rem;
}

.form-custom::-webkit-input-placeholder {
  font-weight: 700;
  color: gray;
}

.form-custom:-ms-input-placeholder {
  font-weight: 700;
  color: gray;
}

.form-custom::-ms-input-placeholder {
  font-weight: 700;
  color: gray;
}

.form-custom::placeholder {
  font-weight: 700;
  color: gray;
}
